<!DOCTYPE html>
<html>
<head>
    <title>チェレンジ一覧</title>
</head>
<body>
<div>{{ session.user_name }}の友人のリスト</div>
<form action="/eggs/generate" method="get">
    <input type="number" name="do_when" value=20>
    人に後押しされたら<br>
    <input type="text" name="challenge" size="140">
    に挑戦する！<br>
    成立したら
    <input type="text" name="promise" size="140">
    をする!
    <input type="submit" name="do">
</form>

{% for egg in eggs %}
    <div>
    所有者：<div>{{ egg.owner_name }}</div>
    何に挑戦する？:<div>{{ egg.challenge }}</div>
    成立したら？：<div>{{ egg.promise }}</div>
    今 {{ egg.cheered }}/{{ egg.do_when }}</div>
    <div>
    {% if not egg.is_own %}
        <form action="{{ url_for('cheer',egg_id=egg.egg_id) }}" method='post' >
        <input type="text" name="comment" size=70 placeholder="やってみろや！">
        {% if egg.already_cheered %}
            <input type="submit" value='応援した!' disabled>
        {% else %}
            <input type="submit" value='応援する!'>
        {% endif %}
        </form>
    {% endif %}
    </div><br/>
{% endfor %}
</body>
</html>