<HTML>
<HEAD>
    <TITLE>Hatch Top</TITLE>
    <META name="keywords" content="cheer challeng">
    <META name="description" content="hatch will make your dream come true!">
</HEAD>
<body>
Welcome hatch!
<ul class="nav pull-right">
    {% if not logged_in %}
        <li><a href="/facebook_login">Login or Signup</a></li>
    {% else %}
        ログインしました<br>

        {{ user_id }}<br/>
        {{ user_name }}<br/>
        <li><a href="{{ url_for('index') }}">トップページへ戻る</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
</ul>
</body>
</HTML>